<!-- Reusable Book Modal Component -->
<div class="modal fade" id="{{ include.id }}Modal" tabindex="-1" role="dialog" aria-labelledby="{{ include.id }}ModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="{{ include.id }}ModalTitle">{{ include.title }}</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="book-content-wrapper">
          {% capture book_content %}{% include {{ include.content_file }} %}{% endcapture %}
          {{ book_content | markdownify }}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
